__pycache__
*.pyc
pages/index.html
template/action.js
template/style.css
naverapi.key
apikey.txt
accesstoken.txt
news-server/node_modules/*
news-server/package.json
news-server/package-lock.json
news-server/nohup.out
nohup.out
credentials.json
token.json
__pycache__
*.pyc
output.msg
content
send_to.txt
venv